
    <div class="py-5 text-center">     
      <h2>Page 1 - GRID</h2>     
    </div>

    <div class="row">
        <form>
            <div class="col-12">

                <label for="firstName">Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                     <br>
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    <br>
                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="xyz@example.com">
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
                    <br>
                <label for="address">Adres</label>
                <input type="text" class="form-control" id="address" placeholder="Nilüfer Cd. Soysal Sk." required="">
                <div class="invalid-feedback">
                    Please enter your address.
                </div>
                <br>
                <br>
                
                <button class="btn btn-secondary btn-lg me-1" type="reset" >Reset</button>
                <button class="btn btn-primary btn-lg " type="submit" routerLink="/page-two">Submit</button>
                
            </div>
        </form>

    </div>

 
